<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>model2_shop_teacher</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <!--DD 배포서술자 : 서버의 web.xml 보다 우선순위가 높다.
  		배포서술자 수정하면 서버를 재접속해야한다.
  		(webSevlet 등록도 배포서술자 수정에 포함된다.)
    -->
	<session-config>
		<session-timeout>5</session-timeout>
	</session-config>
	<servlet>
		<servlet-name>ItemAjaxManaging</servlet-name>
		<servlet-class>model2_shop.com.contoroller.ItemAjaxManaging</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ItemAjaxManaging</servlet-name>
		<url-pattern>/item/ajax_managing.do</url-pattern>
	</servlet-mapping>
</web-app>